# pandas documentation for reading python excel spreadsheet
###### date created: 15 April 2024
Source: 
Pandas documentation for excel: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html 

w3school data manipulation using dictionary in python: https://www.w3schools.com/python/python_dictionaries.asp

w3school data manipulation using dictionary in python demonstration: https://www.w3schools.com/python/trypython.asp?filename=demo_dictionary

w3school data manipulation using list(otherwise known as the term "array" in other languages): https://www.w3schools.com/python/python_lists.asp

Other tutorials: https://www.squash.io/how-to-read-xlsx-file-using-pandas-library-in-python/

This portion reads from excel

In [1]:
import pandas as pd
dataFromFile = pd.read_excel("Book1.xlsx","Sheet1",names=["Name","class","date"])

print(dataFromFile)

    Name  class                 date
0   Name  class                 date
1   zxvc   asdf  2024-04-15 00:00:00
2   asdf   qwer  2024-04-16 00:00:00
3   qwer   asdf  2024-04-16 00:00:00
4   zxvc   qwer  2024-04-16 00:00:00
5   sdfg   ytre  2024-04-16 00:00:00
6   gfsd   ytre                45398
7   dfgs   ytre                45398
8   hgfa   ytre                45398
9   erty   ytre                45398
10  cvbn   ytre                45398
11  xcvb   ytre                45398

#Filtering information of the excel file

Assuming that the excel file you made have all the values on the top of the row your attributes and appending rows being the values, we can make our live easier by putting them in an array within the loop and sepereate it from the rest of the information like so

In [2]:
attributes = {} #declare here first so that the variable will not be repeated created that can either overwrite or cause errors
# data = {attributes:[]}
for col in dataFromFile :
    attributes[dataFromFile[col][0]] = None #This appends all of the first column, which is supposedly, only the name

    #uncomment the code below to see why the above is written this way
    # print(dataFromFile[col][0]) 

    attributes[dataFromFile[col][0]]= dataFromFile[col] #This appends all of the data to the respective name, class and date as defined in this code ````attributes[dataFromFile[col][0]]````
    #uncomment the code below to see why the above is written this way
    # print(dataFromFile[col][1])

Due to what we have done, we can now just show people by only their name, class or date like so:

In [3]:
print(attributes["Name"])
print(attributes["class"])
print(attributes["date"])

0     Name
1     zxvc
2     asdf
3     qwer
4     zxvc
5     sdfg
6     gfsd
7     dfgs
8     hgfa
9     erty
10    cvbn
11    xcvb
Name: Name, dtype: object
0     class
1      asdf
2      qwer
3      asdf
4      qwer
5      ytre
6      ytre
7      ytre
8      ytre
9      ytre
10     ytre
11     ytre
Name: class, dtype: object
0                    date
1     2024-04-15 00:00:00
2     2024-04-16 00:00:00
3     2024-04-16 00:00:00
4     2024-04-16 00:00:00
5     2024-04-16 00:00:00
6                   45398
7                   45398
8                   45398
9                   45398
10                  45398
11                  45398
Name: date, dtype: object

We can do procced to for example, see how many people are in one class

In [4]:

classCount = {} #number of times the class showed up
studentNamesByClass = {}
for x in attributes["class"]:
    # print (classCount[x])
    if x in classCount:
        classCount[x] +=1
    else:
        classCount[x] = 1
print(classCount)

{'class': 1, 'asdf': 2, 'qwer': 2, 'ytre': 7}

With things like conditions, we can sort by class

In [5]:
print(dataFromFile.sort_values(by="class"))

    Name  class                 date
1   zxvc   asdf  2024-04-15 00:00:00
3   qwer   asdf  2024-04-16 00:00:00
0   Name  class                 date
2   asdf   qwer  2024-04-16 00:00:00
4   zxvc   qwer  2024-04-16 00:00:00
5   sdfg   ytre  2024-04-16 00:00:00
6   gfsd   ytre                45398
7   dfgs   ytre                45398
8   hgfa   ytre                45398
9   erty   ytre                45398
10  cvbn   ytre                45398
11  xcvb   ytre                45398